<nav class="navbar navbar-expand-lg navbar-light bg-light header-background menu-top-margin">
    <a class="navbar-brand" [routerLink]="['/start']" routerLinkActive="router-link-active" >Track&Trace</a>
    <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
    >

    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/products']" routerLinkActive="router-link-active" >
                    Proizvodi <span class="sr-only">(current)</span></a>
                </li>
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="router-link-active" >Kontakt</a>
            </li>
        </ul>
    </div>
</nav>
