<header class="jumbotron-fluid header-background">
    <div class="row">
    <h1 class="col-sm-6 header-h1">
        <strong>
            <em>Nemojte juriti za niskim cijenama, pustite da one dođu vama...</em>
        </strong>
    </h1>    

    <div class="col-sm-6 text-right">
    <p class="header-p"> <strong>Facebook: </strong> <a href="https://www.facebook.com/track.and.trace.shop"> 
        https://www.facebook.com/track.and.trace.shop</a>
    </p>
                        
    <p class="header-p"><strong>Instagram: </strong> <a href="https://www.instagram.com/trackandtrace.shop/">
         https://www.instagram.com/trackandtrace.shop/</a>
    </p>
    </div>
    </div>
 </header>

 
